.navbar {
    background:  white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.logo {
    font-weight: bold;
    font-size: 20px;
    color: #4f46e5;
}

.nav-links a {
    margin-left: 20px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #4f46e5;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-info {
  font-size: 14px;
}

.profile-link {
  font-weight: 600;
}

.logout-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.logout-btn:hover {
  background: #dc2626;
}

.favorites-link {
  position: relative;
  margin-right: 15px;
}

.badge {
  position: absolute;
  top: -8px;
  right: -12px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 3px 7px;
  border-radius: 50%;
  font-weight: bold;
}

